option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: production
    AUTH_ENABLED: "true"
    OTP_DEV_MODE: "false"
    EMAIL_PROVIDER: ses
    SES_REGION: ap-south-1
    REQUIRE_VERIFIED_EMAIL_FOR_OTP: "true"
    STORAGE_PROVIDER: s3
    COOKIE_SECURE: "true"
    OCR_ENABLED: "true"
    OCR_PROVIDER: textract
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
